---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
const title = "Blog Posts";
---

<Layout {title}>
    <p>Here, we will add some shelves of books. For now, we just have one...</p>
    {
        posts &&
            posts.map((post) => (
                <div>
                    <a href={`/posts/${post.id}`}>{post.id}</a>
                </div>
            ))
    }
</Layout>
