
@import "open-props/style";
@import "open-props/normalize";

:where(html) {
    a, a:visited, a:active {text-decoration: underline; text-decoration-color: var(--surface-3)};
    --lg: var(--size-fluid-5);
    --md: var(--size-fluid-3);
    --sm: var(--size-fluid-2);
    --xs: var(--size-fluid-1);
    --timberwolf: #D3D3D2ff;
    --ash-gray: #ACBCBCff;
    --ecru: #AA9F5Eff;
    --dark-moss-green: #595C36ff;
    --dead-green: #464e09;
    --dry-bone: #BCBEAF;
    --olivine: #9AB983ff;
    /* --ash-gray: #BFCCB9ff; */
    --honeydew: #DAE4DAff;
    --khaki: #A4A190ff;
    --trans-khaki: rgb(164 161 144 / 20%);
    --trans-white: rgb(242 243 245 / 61%);

    }


@media (prefers-color-scheme: dark) {
    :where(html) {
        --link: var(--dry-bone);
        --link-visited: var(--timberwolf);
        --surface-1: var(--dark-moss-green);
        --surface-2:var(--ash-gray);
        --surface-3:var(--khaki);
        --surface-3t: var(--trans-khaki);
        /* --link: var(--indigo-3);
        --link-visited: var(--purple-3);
        --text-1: var(--gray-1);
        --text-2: var(--gray-4);
        --surface-1: var(--gray-9);
        --surface-2: var(--gray-8);
        --surface-3: var(--gray-7);
        --surface-4: var(--gray-6);
        --scrollthumb-color: var(--gray-6);
        --shadow-strength: 10%;
        --shadow-color: 220 40% 2%;
        color-scheme: dark; */
    }
    :where(a):where(:hover) {
        text-decoration-color: var(--timberwolf);
    }

}




body {
    display: grid;
    gap: var(--size-fluid-2);
    grid-template-rows: auto 1fr auto;
    max-width: var(--size-lg);
    min-height: 100svh;
    margin: auto;
    padding: var(--size-4) var(--size-4);
}
header {
    && nav {
        && ul {
            display: flex;
            gap: var(var(--size-fluid-2));
            list-style-type: none;
            margin-block: var(--size-fluid-1) 0;
            padding: var(--size-fluid-1) 0;
            && li {
                padding: var(--size-fluid-1) var(--size-fluid-2) var(--size-fluid-1) 0;
            }
        }
    }
}
p {
    margin:var(--size-3) 0;
}
pre {
    white-space: pre-wrap;     
}
details {
    background-color: var(--surface-1); 
}
    details[open] {
        background-color: var(--surface-3t);  
    }
details summary {
    background-color: inherit;
}

.button {
    font-size: var(--font-size-1);
    padding: var(--size-2) var(--size-4);  
    border: 0;
    background: var(--dry-bone);
    color: var(--dead-green);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    cursor: pointer;
}.button:hover {
    background: var(--dry-bone);
    color: var(--dead-green);
}

.shelves {
    display:grid;
    margin: var(--md) auto;
    gap:var(--md)
}
.shelf.card .body {
    display:grid;
    padding:var(--sm);
    gap: var(--md);
    border: 2px dashed var(--surface-3);
    background-color: var(--surface-3t);
    && .books {
        display:none;
    }
}
.shelf.full {
    && .link.button {
        display:none;
    }
}

.books {
    display:grid;
    margin: var(--md) auto;
    gap:var(--md)
}
[data-display-contents-format="card"] {
    gap: var(--size-6);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: var(--size-4);
    && .data {
        display:none;
    }
}

.book {
    && dl.details {
        margin-bottom:var(--sm)
    }
    && dd.cover > img {
        filter: drop-shadow(.1rem .1rem .3rem #343620);
    }
    && dd.data {
        max-inline-size: var(--size-content-4);
    }
}

.book[data-display-format="full"] {
    padding:var(--md);
    gap: var(--md);
    border: 2px dashed var(--surface-3);
    background-color: var(--surface-3t);
    display:grid;
    grid-template-columns: 230px 1fr;
    && dl.details {
        display:none;
        && dt {
            display:none;
        }
    }
    && dl.images {
        display:block;
        grid-row: 1 / span 3;
        grid-column: 1;
    }
    && dl.work {
        display:block;
        grid-row: 1;
        grid-column: 2;
        && .title {
            font-size: var(--font-size-5);
            font-weight: bold;
        }
        && .subtitle {
            font-size: var(--font-size-4);
            font-weight: bold;
        }
        && .author {
            font-size: var(--font-size-3);
            font-weight: bold;
            margin-top:var(--xs)
        }
    }
    && dl.descriptive {
        display:grid;
        align-content: start;
        gap:var(--xs);
        grid-row: 2;
        grid-column: 2;
        && dd.notes {
            && ul {
                list-style-type: none;
                padding:var(--sm);
                background-color:var(--surface-3t);
            }
            && .note {
                display: grid;
                gap: var(--sm);
            }
            && .note .source {
                text-align:right;
            }
        }
        && dt.about {
            display:block;
        }
    }
    && dl.edition {
        display:grid;
        align-content: start;
        gap:var(--xs);
        grid-row: 3;
        grid-column: 2;
        font-size: var(--font-size-1);
    }
    && dl.collection {
        display:grid;
        align-content: start;
        gap:var(--xs);
        grid-row: 4;
        grid-column: 2;
        && dt.shelfLocations { display: block;}
        && dd.dates { 
            display: grid;
            font-size: var(--font-size-1);
            opacity: .8;
            margin-top:var(--md);
        }
    }
    && dl.data {
        display:grid;
        align-content: start;
        grid-row: 5;
        grid-column: 1 / span 2;
    }

}
@media (width < 620px) {
    .book[data-display-format="full"] {
        grid-template-columns: 120px 1fr;
    }
}
@media (width < 480px) {
    .book[data-display-format="full"] {
        grid-template-columns: 80px 1fr;
        && dl.images {
            grid-row: 1;
            grid-column: 1;
        }
        && dl.work {
            && .title {
                font-size: var(--font-size-4);
                font-weight: bold;
            }
            && .subtitle {
                font-size: var(--font-size-3);
                font-weight: bold;
            }
            && .author {
                font-size: var(--font-size-2);
                font-weight: bold;
                margin-top:var(--xs)
            }
        }
        && dl.descriptive {
            grid-row: 2;
            grid-column: 1 / span 2;
        }
        && dl.edition {
            grid-row: 3;
            grid-column: 1 / span 2;
        }
        && dl.collection {
            grid-row: 4;
            grid-column: 1 / span 2;
        }
        && dl.data {
            grid-row: 5;
            grid-column: 1 / span 2;
        }
    }
}


.book[data-display-format="card"] {
    padding:var(--sm);
    gap: var(--sm);
    border: 2px dashed var(--surface-3);
    background-color: var(--surface-3t);
    display:grid;
    grid-template-columns: 80px 1fr;
    && dl.details {
        display:none;
        && dt {
            display:none;
        }
    }
    && dl.images {
        display:grid;
        grid-row: 1;
        grid-column: 1;
    }
    && dl.work {
        display:block;
        grid-row: 1;
        grid-column: 2;
        && .title {
            font-size: var(--font-size-3);
            font-weight: bold;
            background-color: #00000080;
            padding:.4rem;
        }
        && .subtitle {
            font-size: var(--font-size-2);
            font-weight: bold;
            background-color: #00000080;
            padding:.4rem;
        }
        && .author, && .translator {
            font-size: var(--font-size-1);
            font-weight: bold;
            margin-top:var(--xs);
            background-color: #00000080;
            padding:.4rem;
        }
    }
    && dl.collection {
        display:none;
        align-content: start;
        gap:var(--xs);
        grid-row: 2;
        grid-column: 1 / span 2;
        && dt.shelfLocations { display: block;}
        && dd.dates { 
            display: grid;
            font-size: var(--font-size-1);
            opacity: .8;
            margin-top:var(--md);
        }
    }

}

main > .book[data-display-format="full"] {
    padding:0;
    border: none;
    background-color: inherit;
}