
@import "open-props/style";
@import "open-props/normalize";

:where(html) {
    a, a:visited, a:active {text-decoration: underline; text-decoration-color: var(--surface-3)};
    --lg: var(--size-fluid-5);
    --md: var(--size-fluid-3);
    --sm: var(--size-fluid-2);
    --xs: var(--size-fluid-1);
    --timberwolf: #D3D3D2ff;
    --ash-gray: #ACBCBCff;
    --ecru: #AA9F5Eff;
    --dark-moss-green: #595C36ff;
    --dead-green: #464e09;
    --dry-bone: #BCBEAF;
    --olivine: #9AB983ff;
    /* --ash-gray: #BFCCB9ff; */
    --honeydew: #DAE4DAff;
    --khaki: #A4A190ff;
    --trans-khaki: rgb(164 161 144 / 20%);
    --trans-white: rgb(242 243 245 / 61%);
    font-family: "Caudex", serif;
    }

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  }



@media (prefers-color-scheme: dark) {
    :where(html) {
        --link: var(--dry-bone);
        --link-visited: var(--timberwolf);
        --surface-1: var(--dark-moss-green);
        --surface-2:var(--ash-gray);
        --surface-3:var(--khaki);
        --surface-3t: var(--trans-khaki);
    }
    :where(a):where(:hover) {
        text-decoration-color: var(--timberwolf);
    }

}




body {
    display: grid;
    gap: var(--size-fluid-2);
    grid-template-rows: auto 1fr auto;
    max-width: var(--size-lg);
    min-height: 100svh;
    margin: auto;
    padding: var(--size-4) var(--size-4);
}
header {
    && nav {
        && ul {
            display: flex;
            gap: var(var(--size-fluid-2));
            list-style-type: none;
            margin-block: var(--size-fluid-1) 0;
            padding: var(--size-fluid-1) 0;
            && li {
                padding: var(--size-fluid-1) var(--size-fluid-2) var(--size-fluid-1) 0;
            }
        }
    }
}
h1,h2,h3,h4,h5,h6{
    font-family: "Work Sans", serif;
    font-weight:600;
}
p {
    margin:var(--size-3) 0;
}
pre {
    white-space: pre-wrap;     
}
details {
    background-color: var(--surface-1); 
}
    details[open] {
        background-color: var(--surface-3t);  
    }
details summary {
    background-color: inherit;
}



.button {
    font-size: var(--font-size-1);
    padding: var(--size-2) var(--size-4);  
    border: 0;
    background: var(--dry-bone);
    color: var(--dead-green);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    cursor: pointer;
}.button:hover {
    background: var(--dry-bone);
    color: var(--dead-green);
}

.shelves {
    display:grid;
    margin: var(--md) auto;
    gap:var(--md)
}
.shelf.card .body {
    display:grid;
    padding:var(--sm);
    gap: var(--md);
    border: 2px dashed var(--surface-3);
    background-color: var(--surface-3t);
    && .books {
        display:none;
    }
}
.shelf.full {
    && .link.button {
        display:none;
    }
}
.shelf.list {
    .data,
    .actions { display:none}
}

.books {
    display:grid;
    margin: var(--md) auto;
    gap:var(--md)
}
[data-display-contents-format="card"] {
    gap: var(--size-6);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: var(--size-4);
    && .data {
        display:none;
    }
}

.book {
    && dl.details {
        margin-bottom:var(--sm)
    }
    && dd.cover > img {
        filter: drop-shadow(.1rem .1rem .3rem #343620);
    }
    && dd.data {
        max-inline-size: var(--size-content-4);
    }
}

.book[data-display-format="full"] {
    padding:var(--md);
    column-gap: var(--md);
    row-gap: var(--sm);
    border: 2px dashed var(--surface-3);
    background-color: var(--surface-3t);
    display:grid;
    grid-template-columns: 230px 1fr;
    && dl.details {
        display:none;
        && dt {
            display:none;
        }
    }
    && dl.images {
        display:block;
        grid-row: 1 / span 3;
        grid-column: 1;
    }
    && dl.work {
        display:block;
        grid-row: 1;
        grid-column: 2;
        /* max-height: var(--sm); */
        && .title {
            font-size: var(--font-size-5);
            font-weight: bold;
        }
        && .subtitle {
            font-size: var(--font-size-4);
            font-weight: bold;
        }
        && .author {
            font-size: var(--font-size-3);
            font-weight: bold;
            margin-top:var(--xs)
        }
    }
    && dl.descriptive {
        display:grid;
        align-content: start;
        gap:var(--xs);
        grid-row: 2;
        grid-column: 2;
        && dt.description, && dd.description {
            max-inline-size: var(--size-content-3);
        }
        && dd.notes {
            max-inline-size: var(--size-content-3);
            && ul {
                list-style-type: none;
                padding:var(--sm);
                background-color:var(--surface-3t);
                && li {
                    max-inline-size: var(--size-content-3);
                }
            }
            && .note {
                display: grid;
                gap: var(--sm);
            }
            && .note .source {
                text-align:right;
            }
        }
        && dt.about {
            display:block;
        }
    }
    && dl.edition {
        display:grid;
        align-content: start;
        gap:var(--xs);
        grid-row: 3;
        grid-column: 2;
        font-size: var(--font-size-1);
    }
    && dl.collection {
        display:grid;
        align-content: start;
        gap:var(--xs);
        grid-row: 4;
        grid-column: 2;
        && dt.shelfLocations { display: block;}
        && dd.dates { 
            display: grid;
            font-size: var(--font-size-1);
            opacity: .8;
            margin-top:var(--md);
        }
    }
    && dl.data {
        display:grid;
        align-content: start;
        grid-row: 5;
        grid-column: 1 / span 2;
    }

}
@media (width < 620px) {
    .book[data-display-format="full"] {
        grid-template-columns: 120px 1fr;
    }
}
@media (width < 480px) {
    .book[data-display-format="full"] {
        grid-template-columns: 80px 1fr;
        && dl.images {
            grid-row: 1;
            grid-column: 1;
        }
        && dl.work {
            && .title {
                font-size: var(--font-size-4);
                font-weight: bold;
            }
            && .subtitle {
                font-size: var(--font-size-3);
                font-weight: bold;
            }
            && .author {
                font-size: var(--font-size-2);
                font-weight: bold;
                margin-top:var(--xs)
            }
        }
        && dl.descriptive {
            grid-row: 2;
            grid-column: 1 / span 2;
        }
        && dl.edition {
            grid-row: 3;
            grid-column: 1 / span 2;
        }
        && dl.collection {
            grid-row: 4;
            grid-column: 1 / span 2;
        }
        && dl.data {
            grid-row: 5;
            grid-column: 1 / span 2;
        }
    }
}

.book[data-display-format="list"] {
    
    dl dt {display:none;}
    dl.details {margin-bottom:0;font-size:var(--font-size-1);}
    dl.work {display:flex; gap:1ch;
    && .author {
        gap:1ch;
    }}
    dl.edition {display:flex; gap:1ch; flex-direction: row-reverse;justify-content: flex-end;}
    .images,
    .weight,
    .descriptive,
    .collection,
    .data {display:none;}
}


.book[data-display-format="card"] {
    padding:var(--sm);
    gap: var(--sm);
    border: 2px dashed var(--surface-3);
    background-color: var(--surface-3t);
    display:grid;
    grid-template-columns: 80px 1fr;
    && dl.details {
        display:none;
        && dt {
            display:none;
        }
    }
    && dl.images {
        display:grid;
        grid-row: 1;
        grid-column: 1;
    }
    && dl.work {
        display:block;
        grid-row: 1;
        grid-column: 2;
        && .title {
            font-size: var(--font-size-3);
            font-weight: bold;
            background-color: #00000080;
            padding:.4rem;
        }
        && .subtitle {
            font-size: var(--font-size-2);
            font-weight: bold;
            background-color: #00000080;
            padding:.4rem;
        }
        && .author, && .translator {
            font-size: var(--font-size-1);
            font-weight: bold;
            margin-top:var(--xs);
            background-color: #00000080;
            padding:.4rem;
        }
    }
    && dl.collection {
        display:none;
        align-content: start;
        gap:var(--xs);
        grid-row: 2;
        grid-column: 1 / span 2;
        && dt.shelfLocations { display: block;}
        && dd.dates { 
            display: grid;
            font-size: var(--font-size-1);
            opacity: .8;
            margin-top:var(--md);
        }
    }

}

main > .book[data-display-format="full"] {
    padding:0;
    border: none;
    background-color: inherit;
}