---
import Layout from "@layouts/Layout.astro";
import Shelf from "@components/Shelf.astro";
import { getCollection } from "astro:content";

const shelves = await getCollection("allShelves");
const title = "Shelves";
---

<Layout {title}>
    <p>Here, we will add some shelves of books. For now, we just have one...</p>
    {
        shelves && (
            <div class="shelves" data-display-contents="card">
                {shelves.map((shelf: { id: string }) => (
                    <Shelf id={shelf.id} displayFormat="card" />
                ))}
            </div>
        )
    }
</Layout>
