---
import Layout from "@components/Layout.astro";
const title = "Books";
---

<Layout {title}>
    <p>Here, we will add all the books on the shelves.</p>
    <p>
        We will paginate some display of all the books that appear on the
        shelves, allow them to be searched and sorted. Maybe even filtered.
    </p>
</Layout>
